@media print {
    body * {
        visibility: hidden;
    }

    #print-receipt, #print-receipt * {
        visibility: visible;
    }

    #print-receipt {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .modal-header, .btn, button {
        display: none !important;
    }
}
