@page "/Success"
@layout AuthLayout
<PageTitle>ResetSuccess</PageTitle>

<div class="card">
    <div class="card-body p-5">
        <div class="login-userheading text-center">
            <img src="assets/img/icons/check-icon.svg" alt="Icon">
            <h3 class="text-center">Success</h3>
            <h4 class="verfy-mail-content text-center">Your Passwrod Reset Successfully!</h4>
        </div>
        <div class="form-login mb-0">
            <a class="btn btn-login mt-0" href="/">Back to Login</a>
        </div>
    </div>
</div>
@code {

}
